#!/bin/sh
##
#    Copyright 2021 ENEGENO
# 
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
# 
#       http://www.apache.org/licenses/LICENSE-2.0
# 
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
# 
##

# to copy revelant files, define flags...
# TODO only one include for now, should allow / inhibit MPU and FPU
DEV=stm32f746xx

# Use MPU configuration, NOT TESTED
# TODO VPU configuration
MPU=0

# include FREERTOS if > 0
FREERTOS=0

# include LVGL if > 0
LVGL=1

# To use dynamic mem alloc, if > 0, it is the heap implementation
MEM=4

# where to find sources: HAL, BSP, FreeRTOS, LwIP...
REPO=~/STM32Cube/Repository/STM32Cube_FW_F7_V1.16.1/

# must exists in $REPO/Drivers/BSP/, other boards not tested
BOARD=STM32746G-Discovery

# where new projects are created
WORKSPACE=~/STM32Cube/workspace_1.6.0/

# if one argument only, use this template
DEFAULT_TEMPLATE=empty

# CHECKS ######################################################################
_template_check_env () {
    if [ ! -d $REPO ]; then
        echo "WARNING: $REPO not found, use local sources."
        REPO=.
    fi

    if [ ! -d "$WORKSPACE" ]; then
        echo "WARNING: $WORKSPACE does not exist, create it."
        mkdir -p $WORKSPACE
    fi
}

